<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Right 4 Me</title>
	<base href="/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" asp-append-version="true" />
</head>
<body>
	@RenderBody()

	@RenderSection("scripts", required: false)
</body>
</html>
