body {

}

.alpha-release {
    top: 0;
    position: fixed;
    background-color: #a94442;
    color: #f2dede;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    z-index: 1031;
}

    .alpha-release a {
        color: #f2dede;
        text-decoration: underline;
    }

.navbar-fixed-top {
    top: 20px;
}

body {
    padding-top: 51px;
}